
.box-01{
    background-color: aquamarine;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 100px;
    padding: 20px;
    text-align: center;

}

.box-02{
    width: 300px;
    height: 200px;
    background-color: rgb(70, 84, 48);
    border: 2px solid rgb(255, 255, 255);
    
}


body{
    margin: 80px;
    background-color: black;

}
