@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
.titulo{
   
    color: var(--Very-Dark-Blue);
    font-weight: 200;
    text-align: center;
}
.paragrafo{
   
    color: var(--Grayish-Blue);
    text-align: center;
}
.card-supervidor{
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.59);
    display: inline-block;
    border-radius: 5px;
    padding: 30px;
    border-top: 5px solid var(--Cyan);
    position: relative;
    left: 500px;
    top: 350px;
}
.card-titulo{
   color: var(--Very-Dark-Blue);
   margin: 10px 0;
}
.card-paragrafo{
    color: var(--Grayish-Blue);
    margin-bottom: 10px;
}
.icon{
    position: relative;
    left: 220px;
    top: 10px;
}
.card-team-builder{
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.59);
    display: inline-block;
    border-radius: 5px;
    padding: 30px;
    border-top: 5px solid var(--Red);
    position: relative;
    left: 520px;
    top: 200px;
}
.card-titulo1{
   color: var(--Very-Dark-Blue);
   margin: 10px 0;
}
.card-paragrafo1{
    color: var(--Grayish-Blue);
    margin-bottom: 10px;
}
.icon1{
    position: relative;
    left: 240px;
}
.card-karma{
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.59);
    display: inline-block;
    border-radius: 5px;
    padding: 30px;
    border-top: 5px solid var(--Orange);
    position: relative;
    left: 520px;
    top: 200px;
}
.card-titulo2{
   color: var(--Very-Dark-Blue);
   margin: 10px 0;
}
.card-paragrafo2{
    color: var(--Grayish-Blue);
    margin-bottom: 10px;
}
.icon2{
    position: relative;
    left: 240px;
}